<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="../../static/css/bootstrap.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../static/css/vera.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <title>Lending</title>
  </head>
  <body class="main articles">
    <div class="tags">
      <ul>
        <li>
          <h4>#уход</h4>
        </li>
        <li>
          <h4>#симптомы</h4>
        </li>
        <li>
          <h4>#социальнаяпомощь</h4>
        </li>
      </ul>
    </div>
      <h2 class="main-head">Профилактика и лечение пролежней</h2>
      <p class="artclp1">Пролежни могут глубоко повредить кожу, мышцы и кости.</br>
        Привести к заражению крови, вызвать нестерпимую боль,</br>
         ухудшить качество жизни и даже вызвать инфекции. Если</br>
        пролежни не лечить, они могут привести к летальному исходу!</br>
         Поэтому, как только вы замечаете первые симптомы, необходимо</br>
          немедленно предпринять действия.</p>
      <h3 >Зоны риска образования пролежней</h3>
      <p class="artclp2">Будьте наиболее внимательны к таким зонам:</p>
      <img src="../../static/images/image 8.png" alt="" class="artclimg1">
      <button class="btn btn-vera lending">Назад</button>
      <img src="../../static/images/Star 1.svg" alt="" class="artclimg2">
      <h6>Добавить в избранное</h6>
  </body>
</html>
