{% extends "base.html" %}

{% block content %}
<div class="container">
    <ul>
        {% for article in articles %}
        <li>{{ article.title }} {{ article.text }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="../../static/css/bootstrap.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../static/css/vera.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <title>Lending</title>
  </head>
  <body class="main">
      <h1 class="main-head">Zabota.me</h1>
      <p>поможем вам осуществить правильный уход за больным человеком</p>
      <button class="btn btn-vera">Зарегистрироваться</button>
      <img src="../../static/images/image 2.png" alt="" class="zabota-img">
  </body>
</html>
