{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
      <div class="main-icon">Z</div>
      <div class="row">
            <div class="col"></div>
      </div>
      <div class="row">
            <div class="col"><h1 class="main-head">Zabota.me</h1></div>
      </div>
      <div class="row justify-content-center">
            <div class="col-6 main-text">поможем вам осуществить правильный уход за больным человеком</div>
      </div>
      <div class="row justify-content-center">
            <div class="col main-text">
                  <a href="{% url 'signup' %}">
                        <button  class="btn btn-vera">Зарегистрироваться</button>
                  </a>
            </div>
      </div>
      <div class="row">
            <div class="col main-img"><img src="{% static 'img/main.png' %}"></div>
      </div>
</div>
{% endblock %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="../../static/css/bootstrap.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->
    <link rel="stylesheet" href="../../static/css/vera.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <title>Lending</title>
  </head>
  <body class="main">
      <h1 class="main-head">Zabota.me</h1>
      <p>поможем вам осуществить правильный уход за больным человеком</p>
      <button class="btn btn-vera">Зарегистрироваться</button>
      <img src="../../static/images/image 2.png" alt="" class="zabota-img">
  </body>
</html>
